---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
const pageTitle = "Blog";
---


<BaseLayout pageTitle={pageTitle}>
    <h2>...about me and my Astro site :)</h2>
    <p>More tutorial stuff!</p>
    <h3>My posts:</h3>
    <ul>
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout> 