---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
    <p>Written by {frontmatter.author}</p>
    <p>Pub date: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <slot />
</BaseLayout>
